{% extends 'base.html.twig' %}

{% block title %}
  Human Monster
{% endblock %}

{% block body %}
  <h1 class="text-center">Human Monster</h1>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam vitae, libero aliquam, molestias repudiandae neque aliquid reprehenderit officiis debitis ex sit eaque dolorem, dolores possimus fugit doloribus. Corporis, dolorem unde!</p>
  <p>Quas dolor possimus nam deserunt eum! Ad tenetur iure voluptatibus dolorum. Cum id adipisci pariatur, autem atque quaerat obcaecati animi quibusdam commodi sunt, voluptate placeat, odio at expedita incidunt sequi?</p>
  <p>Veniam molestias nostrum adipisci omnis magni voluptatibus aliquid debitis ea perferendis atque deserunt reprehenderit, modi nulla aspernatur doloremque voluptate dolorem harum repudiandae minus numquam porro reiciendis! Deleniti qui odit cupiditate?</p>
  <p>Quia esse nisi aspernatur iure quasi quidem laboriosam nesciunt, culpa nobis nostrum reprehenderit ullam dolorum quis recusandae reiciendis ex error commodi repudiandae! Commodi consectetur assumenda distinctio aut, neque esse mollitia.</p>
  <p>Dolore corporis reiciendis qui necessitatibus repellat non eligendi recusandae nobis. Dolore ducimus inventore veniam, sit nobis ullam nostrum quisquam odio perspiciatis fuga, quidem, est qui molestias optio dolorem tenetur nisi.</p>
  <p>Et dolore qui vero eum voluptas placeat voluptatibus corrupti in! Sequi veritatis incidunt eius ex. Amet quisquam mollitia ipsam ut corrupti eum, odit laboriosam expedita fuga quos. Delectus, saepe facilis?</p>
  <p>Ea qui, blanditiis repellat doloribus doloremque earum quas debitis consequatur dolor laboriosam illum iste, accusantium voluptatem beatae odit asperiores dolore quia alias rerum dolorum ratione aperiam rem! Asperiores, adipisci ratione.</p>
  <p>Ab, dicta quisquam eaque fuga vero ipsam rerum excepturi, corporis accusamus modi doloribus quas quidem ullam voluptates. Consequuntur in deserunt id expedita, temporibus dolores excepturi quaerat porro maiores, accusamus ipsum?</p>
{% endblock %}
